#works {
     margin: 0 auto;
    min-height: calc(100vh- 4rem);
    width: 100vw;
    max-width: 60rem;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    padding: 15rem 1rem;
} 

.worksTitle {
    margin: -11rem 17rem;
    margin-bottom: 4rem;
    font-size: 3rem;
}

.projects {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.project {
    margin-bottom: 10px;
    flex-basis: 46%;
}

.proj-img {
    background-size: cover;
    width: 100%;
    border-radius: 10px;
}
.proj-img:hover {
    opacity: 0.7;
    transform: scale(1.1);
}

.proj-btn {
   margin-left: 9rem; 
}

@media screen and (max-width:705px) {
    .worksTitle {
        margin: -11rem 6rem;
        margin-bottom: 2rem;
        font-size: 1.5rem;
    }
    .projects {
        display: grid;
    }
    .project {
        margin-bottom: 3.5rem;
    }
    .proj-btn {
        margin-left: 7rem;
    }
}